<%# app/views/admin/carros/show.html.erb %>

<div>
  <%# Detalhes do Carro %>
  <p><strong>Marca:</strong> <%= @carro.marca %></p>
  <p><strong>Nome:</strong> <%= @carro.nome %></p>
  <p><strong>Placa:</strong> <%= @carro.placa %></p>
  <p><strong>Valor Diária:</strong> <%= number_to_currency(@carro.valor_diaria) %></p>
  <p><strong>Disponível:</strong> <%= @carro.isDisponivel? ? "Sim" : "Não" %></p>
</div>

<hr>

<div class="d-flex gap-2">

  <%= link_to "Editar este carro", edit_admin_carro_path(@carro), class: "btn btn-secondary" %>

  <%= button_to "Excluir este carro", [:admin, @carro], method: :delete, data: { turbo_confirm: "Tem certeza?" }, class: "btn btn-danger" %>
  
</div>